<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>See what people are talking about | <strong> Join the discussion |</strong> Get informed!</h1>
    <p>Reviews... Comments...Gossips and more</p>
    <%= link_to "See all Posts", messages_path, class:"btn btn-flat"  %>
  </div>
</div>

